/.dist
/.idea
/.RData
/.Rhistory
/04.HAPPY SOUND.mp3
/2020298_2020184_GurmeharKaur_ArymanSrivastava_project
/2020298_Assignment1.pdf
/2020298_assignment1.zip
/20210905_231231_0000.png
/21. Graphs-20210807T183359Z-001.zip
/23 years CAT Topic Wise Solved Paper.pdf
/230701 Mueller FedML Activity Model.pdf
/433887143-CAT-Planner-CATBible-CATKing-xlsx.pdf
/6381.jpg
/830 - 930 a.m. Kirtan Hazoori Ragi Bhai Satnam Singh Ji 930 - 1030 a.m. Kirtan Istri Satsang Jatha 1030 - 1130 a.m. Kirtan Bhai Gurmanpreet Singh Ji Harmanpreet Singh Ji Delhi wale (1).jpg
/830 - 930 a.m. Kirtan Hazoori Ragi Bhai Satnam Singh Ji 930 - 1030 a.m. Kirtan Istri Satsang Jatha 1030 - 1130 a.m. Kirtan Bhai Gurmanpreet Singh Ji Harmanpreet Singh Ji Delhi wale.jpg
/9005fce7-2089-4cc4-b516-1448b9eda90a.jpg
/9ad133eb-644e-4c59-b287-44b3c2fdc757.pdf
/Adobe Lightroom Classic.lnk
/android-studio-2022.3.1.20-windows.exe
/android-studio-ide-201.7199119-windows.exe
/artix-base-openrc-20210726-x86_64.iso
/arun-sharma-quantitative-aptitude-for-cat4th-editionpdf_compress.pdf
/bank_hdfc_passbook.pdf
/CAT TIME-2021.zip
/CAT-2021-Verbal-Slot1.pdf
/CAT-2022-Question-Paper-Slot-1-with-Answer-Keys-Bodhee-Prep.pdf
/ChromeSetup.exe
/client_trainer.ipynb
/client_trainer.py
/Complete_with_DocuSign_Markov_ML_India_--_Fo.pdf
/Complete_with_DocuSign_Markov_ML_India_-_Int (1).pdf
/Complete_with_DocuSign_Markov_ML_India_-_Int.pdf
/covtype.libsvm.binary.scale
/craig_pynb.ipynb
/craig_pynb.py
/cwk2 -- updated files -20220524T144646Z-001
/cwk2 -- updated files -20220524T144646Z-001.zip
/cwk2-20220523T103637Z-001
/cwm-client-launcher-0_2ngjvu4hKkAQjTp3Gwhg.exe
/cwm-client-launcher-eK0iCFY7EGiQruMuoNHUmw.exe
/cwm-client-launcher-qSiE-dGYfMSUypp8Hq1k5g.exe
/data_dependent_coresets_for_compressing_neural_networks_with_applications_to_generalization_bounds.pdf
/dbms
/Desktop
/desktop.ini
/DOC-20230806-WA0037..pdf
/Docker Desktop Installer.exe
/Documents
/DSC_0141.JPG
/DSC_0142.JPG
/DSC_0144.JPG
/DSC_0152.JPG
/DSC_1177.JPG
/DSC_1190.JPG
/DSC_1199.JPG
/DSC_1200.JPG
/DSC_8229 copy.jpg
/Dynamic Programming - LeetCode.pdf
/EAadhaar_0633110086829620201109122837_06072022173657.pdf
/eclipse-inst-jre-win64.exe
/Email attachments
/Empath_analysis.ipynb
/empath_plutchik_analysis.ipynb
/file_example_MP3_700KB.mp3
/final
/flutter_windows_2.10.3-stable
/FortiClientSetup_6.4.3.1608_x64 (1).zip
/FortiClientSetup_6.4.3.1608_x64.zip
/FortiClientVPNOnlineInstaller_6.4.exe
/FortiClientVPNSetup_6.4.3.1608_x64.exe
/fqy-msbm-ahq (2021-06-20 at 08_32 GMT-7).mp4
/FW1A3001.jpg
/Git-2.31.1-64-bit.exe
/GitHub Desktop.lnk
/GitHubDesktopSetup-x64.exe
/Graduation Checklist for BTech 2018-CSAM.docx
/GURMEHAK KAUR CHADHA DEL-ZRH-CGN-DEL.pdf
/Gurmehak_achievements.pdf
/Gurmehak_resume.docx (1) (1).pdf
/Gurmehak_resume.docx (1).pdf
/Gurmehak_resume.docx (1)_compressed.pdf
/Gurmehak_resume.docx.pdf
/gurmehak_transcript.pdf
/hedera hash graph.docx
/Hydrangea-Hacks-main.zip
/ICU_NLP.pptx
/ICU_NLP_V2.pptx
/IMG20210704154319.jpg
/IMG_0828.JPG
/IMG_1190.JPG
/IMG_1237.JPG
/IMG_20210704_134854.jpg
/IMG_20210704_152024.jpg
/IMG_20210704_152948_1.jpg
/IMG_20210704_152949.jpg
/IMG_20210704_153141.jpg
/IMG_20210704_153143.jpg
/IMG_20210704_153307.jpg
/IMG_20210704_153413.jpg
/IMG_20210704_154502.jpg
/IMG_20210704_154534.jpg
/IMG_4472.JPG
/IMG_6760.JPG
/IMG_7367.JPG
/IMG_7679.jpeg
/IMG_7680 (1).jpeg
/IMG_7680.jpeg
/IMG_7685.jpeg
/IMG_8968.JPG
/iTunes64Setup.exe
/jdk-16_windows-x64_bin.exe
/jdk-17.0.7_windows-x64_bin.exe
/jdk-17.0.8_windows-x64_bin.exe
/jdk-17.0.8_windows-x64_bin.msi
/jdk-17_windows-x64_bin.exe
/jre-8u281-windows-x64.exe
/lazy_greedy.ipynb
/lazy_greedy.py
/License
/MBsem2.pdf
/ML_project_proposal.docx (1).pdf
/ML_UG_2023 (1).pdf
/ML_UG_2023 (2).pdf
/ML_UG_2023 (3).pdf
/ML_UG_2023.pdf
/ml_ug_2023__Copy_.pdf
/My Video1.mp4
/mysql-installer-community-8.0.28.0 (1).msi
/node-v18.18.1-x64.msi
/nwdn_file_temp_1617922527418.jpg
/openjfx-17.0.1_windows-x64_bin-sdk.zip
/Pan_Cancelledchq.pdf
/passport.pdf
/PC Health Check.lnk
/pdfcoffee.com_arun-sharma-quantitative-aptitude-for-cat4th-editionpdf-pdf-free.pdf
/performance-data (1)
/Personal Vault.lnk
/Pictures
/Pictures - Shortcut.lnk
/ppt.pdf
/Pragyan Yadav Resume 2021.pdf
/projecttvlab.pdf
/Public
/PXL_20210704_101424710.MP.jpg
/PXL_20210704_101832967.MP.jpg
/pycharm-community-2020.3.3.exe
/pycharm-community-2021.3.1.exe
/python-3.7.7-amd64.exe
/R-4.2.1-win.exe
/Rank List IIITD copy 2 (1).xlsx
/Rank List IIITD copy 2.xlsx
/README.txt
/Real Analysis-20210920T095648Z-001.zip
/Resume.pdf
/resumes,cvs
/Resume_format_IIITD (1) (2) (1).doc
/RStudio-2022.07.2-576.exe
/Self declaration_Bankdetails_FORM.pdf
/server_aggregator.ipynb
/server_aggregator.py
/si_a2_2020298.zip
/Solution.java
/SP18 CS182 Midterm Solutions_Edited.pdf
/SPA Assignment 2 Report.pdf
/SRSExample-webapp (1).doc
/SRSExample-webapp (2).doc
/SRSExample-webapp.doc
/Stalls_Brochure.pdf
/starter_for_josh_design_concepts.fig
/Teams_windows_x64.exe
/TeamViewer_Setup.exe
/Telegram Desktop
/telegram-for-desktop-2-5-7.exe
/Telegram.lnk
/test.csv
/test.csv.zip
/TIME-2021
/Trade Brains - New (2).pdf
/train.csv
/train.csv.zip
/tsetup-x64.4.6.5.exe
/tsetup.2.5.1.exe
/UTIITSL_ePAN_CJTPC5903J_06072022_174900.pdf
/video_2021-05-24_15-41-58.mp4
/VisualStudioSetup.exe
/vlc-record-2021-06-20-21h07m20s-psw-najz-exo (2021-06-20 at 08_29 GMT-7).mp4-.mp4
/VMware-player-16.1.2-17966106.exe
/VSCodeUserSetup-x64-1.57.0.exe
/VSCodeUserSetup-x64-1.57.1.exe
/WhatsApp Image 2021-06-27 at 4.45.21 PM.jpeg
/WhatsApp Image 2021-06-27 at 4.45.22 PM.jpeg
/WhatsApp Image 2021-06-27 at 4.45.23 PM.jpeg
/WhatsApp Image 2021-06-27 at 4.45.24 PM (1).jpeg
/WhatsApp Image 2021-06-27 at 4.45.24 PM.jpeg
/WhatsApp Image 2021-06-27 at 4.55.33 PM.jpeg
/WhatsApp Image 2021-09-08 at 4.42.02 PM (1).jpeg
/WhatsApp Image 2023-08-22 at 8.38.46 AM.jpeg
/WhatsApp Image 2023-09-02 at 8.16.40 PM.jpeg
/WhatsApp Image 2023-09-04 at 3.11.23 PM.jpeg
/WhatsApp Image 2023-09-06 at 10.34.09 PM.jpeg
/WhatsApp Image 2023-10-02 at 1.18.09 AM.jpeg
/WhatsApp Image 2023-10-02 at 1.19.46 AM.jpeg
/WhatsApp Image 2023-10-02 at 1.22.29 AM.jpeg
/WhatsApp Video 2021-05-23 at 8.43.38 PM.mp4
/WhatsApp Video 2021-06-27 at 4.45.23 PM.mp4
/WhatsApp Video 2021-06-27 at 5.06.44 PM.mp4
/WhatsApp Video 2021-11-20 at 8.58.30 PM.mp4
/WhatsAppSetup.exe
/WhatsApp_Image_2023-09-02_at_8.16.40_PM-removebg-preview.png
/WindowsPCHealthCheckSetup.msi
/word2vec.ipynb
/ZoomInstaller.exe
/Zoom_cm_f555wbMsiM5fZ9vvrZo4_mwxg6Tk7iTYvPyQzQvWT9T1FMOhEKStpafxiM@nuqP6B4EoN7J7dzb_k98254b57a9197cae_.exe
/_I8A6012.jpg
/_I8A6013.jpg
/_I8A6021.jpg
/_I8A6023.jpg
/_I8A6026.jpg
/_I8A6027.jpg
/_I8A6028.jpg
/_I8A6031.jpg
/_I8A6036.jpg
/_I8A6244.jpg
/_I8A6246.jpg
/_I8A6333.jpg
/_I8A6394.jpg
/_P5A6826.JPG
/_P5A6827.JPG
/_P5A6829.JPG
/_P5A6830.JPG
/_P5A6831.JPG
/_P5A7056.JPG
/_P5A7057.JPG
/_P5A7063.JPG
/_P5A7140.JPG
/_P5A7246.JPG
/_P5A7295.JPG
/_P5A7487.JPG
/_P5A7773.JPG
/_P5A8007.JPG
/_P5A8013.JPG
/~$aduation Checklist for BTech 2018-CSAM.docx